{% extends "base.html" %}

{% block content %}

    <div class="jumbotron"><h2>Timezone helper</h2></div>

    <div class="container">
        <a id="btn-submit-result" class="btn btn-primary">Get Timestamps</a>

        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>TimeZone</label>
                    <input id="input-timezone" class="form-control" type="text" placeholder="America/Chicago"/>
                </div>
                <div class="form-group">
                    <label>Dates</label>
                    <input class="form-control date-inputs" type="text" placeholder="20150215"/>
                    <input class="form-control date-inputs" type="text" placeholder="20150215"/>
                    <a id="btn-add-date" class="form-control btn btn-success">+</a>
                </div>
            </div>
            <div id="panel-result" class="col-md-offset-1 col-md-7 jumbotron">
            </div>
        </div>

    </div>

    <div id="input-date-skeleton" class="hidden">
        <input class="form-control date-inputs" type="text" placeholder="20150215"/>
    </div>

{% endblock content %}
